.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.page-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.tools-bar{
    margin-bottom: 16px;
}

.onep-icon{
    width: 18px;
    height: 18px;
}